"author": {
            "@type": "Person",
            "name": "George Davis C",
            "givenName": "George Joseph Davis Chettupuzha",
            "familyName": "Chettupuzha",
            "additionalName": "Gdcrocx",
            "gender": "http://schema.org/Male",
            "nationality": "Indian",            
            "sameAs": [
                "https://twitter.com/GDCrocx",
                "https://github.com/gdcrocx",                
                "https://www.facebook.com/GDCrocx",
                "https://www.linkedin.com/in/georgedavisc/",
                "https://gdcrocx.github.io"
            ]
        },