.projects-carousel {
    margin: auto 0; 
    width: 100%;  
    position: relative;
}

.projects {
    display: flex;    
    overflow-x: hidden;        
    text-align: center;    
    max-width: 70%;
    /*position: absolute;*/
    padding: 2rem;
    margin: 0 auto;
}

.project {
    display: none;     
}

.active-project {
    display: block;
}

/*Controls*/
.project-controls {
  position: relative;
  z-index: 2;
}

.project-controls div {
    position: relative;
    size: 20px 40px;
    margin-top: -60%;
    cursor: pointer;    
}

.project-controls div path {
    fill: #FFF;
}

.project-control-next {
    position: absolute;
    display: inline;         
    top: -220px;
    left: 90%;
    right: 0;
    bottom: 0;    
}

.project-control-prev {
    position: absolute;
    display: inline;          
    top: -220px;
    left: 0;
    right: 10%;
    bottom: 0;
}

.project-control-next #Layer_1 {
    margin: 0;
    top: -8px;
    left: -17px;
    max-width: 30px;
    max-height: 40px; 

}

.project-control-prev #Layer_1 {
    margin: 0;
    max-width: 30px;
    max-height: 40px;
}